:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color-scheme: dark light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #666;
    font-synthesis: none;
}

body {  
    margin: 0px;
    padding: 0px;
    display: grid;
    place-content: center;
    height: 100vh;
}

header {
    text-align: center;
}

p {
    text-align: right;    
}